@charset "UTF-8";

.fc-event.expired-task-border {
    /* 色はJSがインラインスタイルで当てるので、CSSでは触りません */
    
    /* 種類：実線（これを書かないと表示されません！） */
    border-style: solid !important;
    
    /* 太さ：3px */
    border-width: 3px !important;
}

/* メモ入力欄の専用スタイル */
.memo-textarea {
    /* 100vh：「ブラウザの表示画面の縦幅ぴったり」
    　 310px：テキストエリア以外の要素のサイズ
    　 →テキストエリアとテキストエリア以外の要素でちょうど100vhになるようにテキストエリアのサイズを指定している */
    height: calc(100vh - 310px) !important;
    
    /* 右下のつまみ（サイズ変更）を消す */
    resize: none;
}

/* リンクだけど黒文字で下線なしにするスタイル */
.sort-link {
	color: black;
	text-decoration: none;
	display: block; /* セル全体をクリックしやすく */
}
.sort-link:hover {
	color: #0d6efd; /* マウスを乗せたら青くする */
}