<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ログイン画面</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script th:src="@{/js/toast.js}"></script>
	</head>
	
	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		
		<div class="text-center my-5">
			
			<div th:if="${successMessage}" class="toast-container position-fixed top-0 end-0 p-3">
				
				<div id="authToast" class="toast" data-bs-delay="5000">
					<div class="toast-header bg-success text-white"> <strong class="me-auto">インフォメーション</strong>
				      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
				    </div>
				    <div class="toast-body">
				      <span th:text="${successMessage}"></span>
				    </div>
				</div>
				
			</div>
			
			<!-- URLにエラーがついている場合（ログインに失敗して/login?errorにリダイレクトした場合）エラーメッセージを表示 -->
			<div th:if="${param.error}" class="alert alert-danger">
    			<span>ログインに失敗しました。</span>
			</div>
		
			<h1>ログインページ</h1>
			
				<div class="form-body">
					
					<form th:action="@{/login}" th:object="${form}" method="post">
						
						<div class="my-5">
							
							<label for="mailAddress" class="fw-bold form-label mt-5">メールアドレス</label>
							<input id="mailAddress" class="form-control w-25 mx-auto" type="text" th:field="*{mailAddress}"/>
							
							<label for="password"  class="fw-bold form-label mt-5">パスワード</label>
							<input id="password" class="form-control w-25 mx-auto" type="password" th:field="*{password}"/>
							
							<button class="btn btn-primary mt-5" type="submit">ログイン</button>
							
						</div>
						
					</form>
					
				</div>
			
			<a th:href="@{/create-user}">新規登録はこちら</a>
			
		</div>
	</body>
</html>