<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>タスク表示画面</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
		<script th:inline="javascript">
		    /* JavaのListを自動でJSON形式に変換
		       コメントアウトしているが、Thymeleafがこれを感知し、後ろの[]も消してJSON形式の文字列に書き換えてくれる
		       後ろの[]はサーバーを通さずにこのファイルを直接開こうとしたときに空配列を渡そうとしていると誤認させエラーを防ぐ役割
		       （ナチュラルテンプレート） */
		    const taskList = /*[[${tasks}]]*/ [];
		</script>
		<script th:src="@{/js/calendar.js}"></script>
		<link th:href="@{/css/style.css}" rel="stylesheet">
	</head>
	
	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		
		<header th:replace="~{common/header :: header_fragment}"></header>
		
		<main>
			<div class="mx-2">
			
				<h1 class="mt-4">カレンダー表示</h1>
				<p>※完了前のタスクのみ表示されます</p>
				
				<div th:replace="~{common/tabs :: task_tabs(${currentTab})}"></div>
				
					<!--div要素にid=calendarを渡し、カレンダーを入れ込む-->
					<div id="calendar"></div>
			</div>
		</main>
	</body>
</html>