<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>全タスク表示画面</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link th:href="@{/css/style.css}" rel="stylesheet">
		<script th:src="@{/js/toast.js}"></script>
	</head>
	
	<body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		
		<header th:replace="~{common/header :: header_fragment}"></header>
		
		<main>
			
			<div class="mx-2" 
				 th:with="url=${T(com.example.demo.constant.AppConst.Url)},
				 		  importance=${T(com.example.demo.constant.AppConst.TaskImportance)},
				 		  status=${T(com.example.demo.constant.AppConst.TaskStatus)}">
				
				<h1 class="mt-4">全タスク一覧</h1>
				
				<!--toast-container：トーストを配置するための箱
					position-fixed：画面のスクロールに影響されず常に画面内の決まった位置に固定
					top-0：画面の一番上に配置
					end-0：画面の一番右に配置-->
				<div class="toast-container position-fixed top-0 end-0">
  					
  					<!--JavaScript側での判別用にidを設定し、Bootstrapへの判別用にclassを設定（最初は隠しておくなどの指令が出る）
  						data-bs-delay="3000"：表示されてから3秒後に消す-->
					<div id="resultToast" class="toast" data-bs-delay="3000">
						<div class="toast-header">
							<!--me-auto：右側の余白を自動化し、後に続く要素が右端に配置される-->
					    	<strong class="me-auto">インフォメーション</strong>
					    	<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
					    </div>
					    <div class="toast-body">
					      <span class="fw-bold" th:text="${count}">0</span>件のタスクを表示しています
					    </div>
					</div>
					
					<div id="updateTaskToast" class="toast" data-bs-delay="3000" th:if="${successMessage}">
						<div class="toast-header bg-danger">
							<!--me-auto：右側の余白を自動化し、後に続く要素が右端に配置される-->
					    	<strong class="me-auto">インフォメーション</strong>
					    	<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
					    </div>
					    <div class="toast-body">
					      <span th:text="${successMessage}"></span>
					    </div>
					</div>
				
				</div>
				
				<form th:action="@{|${url.VIEW_ALL_TASKS}}" th:object="${form}" method="get">
					
					<div class="form-row d-flex my-4 gap-1">
						<div class="form-group">
							<label for="taskId">タスクID</label>
							<input id="taskId" class="form-control" type="number" th:field="*{taskId}" placeholder="タスクID" />
						</div>
						<div class="form-group">
							<label for="taskName">タスク名</label>
							<input id="taskName" class="form-control" type="search" th:field="*{taskName}" placeholder="タスク名" />
						</div>
						<div class="form-group">
							<label for="userId">ユーザーID</label>
							<input id="userId" class="form-control" type="number" th:field="*{userId}" placeholder="ユーザーID" />
						</div>
						<div class="form-group">
							<label for="userName">ユーザー名</label>
							<input id="userName" class="form-control" type="search" th:field="*{userName}" placeholder="ユーザー名" />
						</div>
						<div class="form-group">
							<label for="importance">重要度</label>
							<select id="importance"  class="form-control" th:field="*{importance}">
								<option th:value="${importance.UNSELECTED}">選択してください</option>
								<option th:value="${importance.UNSET}">指定なし</option>
								<option th:value="${importance.LOW}">低</option>
								<option th:value="${importance.MEDIUM}">中</option>
								<option th:value="${importance.HIGH}">高</option>
							</select>
						</div>
						<div class="form-group">
							<label for="deadline">期限</label>
							<input id="deadline" class="form-control" type="date" th:field="*{deadline}" placeholder="期限" />
						</div>
						<div class="form-group">
							<label for="status">状態</label>
							<select id="status"  class="form-control" th:field="*{status}">
								<option th:value="${status.UNSELECTED}">選択してください</option>
								<option th:value="${status.INCOMPLETE}">未完了</option>
								<option th:value="${status.COMPLETED}">完了</option>
								<option th:value="${status.EXPIRED}">期限切れ</option>
								<option th:value="${status.EXPIRED_COMPLETED}">期限切れ完了</option>
							</select>
						</div>
						<div class="form-group">
							<label for="completedDate">完了日</label>
							<input id="completedDate" class="form-control" type="date" th:field="*{completedDate}" placeholder="完了日" />
						</div>
						<div class="form-group">
							<label for="search-button" class="invisible">検索</label>
							<button id="search-button" class="btn btn-primary form-control" type="submit">検索</button>
						</div>
						
					</div>
					
				</form>
				
				<table class="text-center table table-striped table-bordered">
					<thead>
						<tr>
							<th class="bg-primary-subtle">
								<a class="sort-link"
								   th:href="@{${url.VIEW_ALL_TASKS}(
									   sort='taskId',
									   order=${currentSort == 'taskId' && currentOrder == 'asc' ? 'desc' : 'asc'},
									   taskId=${form.taskId},
							           taskName=${form.taskName},
							           userId=${form.userId},
							           userName=${form.userName},
							           importance=${form.importance},
							           deadline=${form.deadline},
							           status=${form.status},
							           completedDate=${form.completedDate})}">
									タスクID
									<span th:if="${currentSort == 'taskId'}"
										  th:text="${currentOrder == 'asc' ?  '▲' : '▼'}">
									</span>
								</a>
							</th>
							<th class="bg-primary-subtle">タスク名</th>
							<th class="bg-primary-subtle">
								<a class="sort-link"
								   th:href="@{${url.VIEW_ALL_TASKS}(
									   sort='userId',
									   order=${currentSort == 'userId' && currentOrder == 'asc' ? 'desc' : 'asc'},
									   taskId=${form.taskId},
							           taskName=${form.taskName},
							           userId=${form.userId},
							           userName=${form.userName},
							           importance=${form.importance},
							           deadline=${form.deadline},
							           status=${form.status},
							           completedDate=${form.completedDate})}">
									ユーザーID
									<span th:if="${currentSort == 'userId'}"
										  th:text="${currentOrder == 'asc' ?  '▲' : '▼'}">
									</span>
								</a>
							</th>
							<th class="bg-primary-subtle">ユーザー名</th>
							<th class="bg-primary-subtle">重要度</th>
							<th class="bg-primary-subtle">期限</th>
							<th class="bg-primary-subtle">状態</th>
							<th class="bg-primary-subtle">完了日</th>
							<th class="bg-primary-subtle">作成日</th>
							<th class="bg-primary-subtle">更新日</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task : ${tasks}">
							<td>
								<!--各タスクの編集画面に遷移できるよう、リクエストパラメータにタスクIDを持たせる-->
								<a th:href="@{|${url.EDIT_TASK}/${task.taskId}|}" 
								   th:text="${task.taskId}" 
								   class="text-decoration-none text-dark">
								</a>
							</td>
							<td th:text="${task.name}"></td>
							<td th:text="${task.userId}"></td>
							<td th:text="${task.user.name}"></td>	<!--Taskエンティティの中にあるuserからnameの情報を取り出す-->
							<td>
								<span th:if="${task.importance == importance.UNSET}">指定なし</span>
								<span th:if="${task.importance == importance.LOW}">低</span>
								<span th:if="${task.importance == importance.MEDIUM}">中</span>
								<span th:if="${task.importance == importance.HIGH}">高</span>
							</td>
							<td th:text="${task.deadline}"></td>
							<td>
								<span th:if="${task.status == status.INCOMPLETE}" class="badge bg-success">未完了</span>
				                <span th:if="${task.status == status.COMPLETED}" class="badge bg-success">完了</span>
				                <span th:if="${task.status == status.EXPIRED}" class="badge bg-danger">期限切れ</span>
				                <span th:if="${task.status == status.EXPIRED_COMPLETED}" class="badge bg-warning text-dark">期限切れ完了</span>
							</td>
							<td th:text="${task.completedDate}"></td>
							<td th:text="${#temporals.format(task.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
							<td th:text="${#temporals.format(task.updatedAt, 'yyyy/MM/dd HH:mm')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</main>
	</body>
</html>