<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemoMapper">

	<!-- DB上のカラム名とjava側の変数名のすり合わせを行う -->
	<resultMap type="com.example.demo.entity.Memo" id="MemoResultMap">
		
		<!-- 主キーのマッピング -->
		<id column="memo_id" property="memoId"/>
		
		<!-- 通常カラムのマッピング -->
		<result column="user_id" property="userId"/>
		<result column="content" property="content"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
		
		<!-- association,collectionは必要に応じて書き加える -->
	
	</resultMap>
	
		<select id="getByUserId" resultType="com.example.demo.entity.Memo" resultMap="MemoResultMap">
		
			SELECT
					*
			FROM
					memos
			WHERE
					user_id = #{userId}
		
		</select>
		
		<insert id="create">
		
			INSERT INTO memos(
					user_id
			) VALUES (
					#{userId}
			)
		
		</insert>
		
		<update id="update">
		
			UPDATE
					memos
			SET
					content = #{content}
			WHERE
					memo_id = #{memoId}
			AND
					user_id = #{userId}
		
		</update>

</mapper>