<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">

	<!-- DB上のカラム名とjava側の変数名のすり合わせを行う -->
	<resultMap type="com.example.demo.entity.Task" id="TaskResultMap">
		
		<!-- 主キーのマッピング -->
		<id column="task_id" property="taskId"/>
		
		<!-- 通常カラムのマッピング -->
		<result column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="content" property="content"/>
		<result column="importance" property="importance"/>
		<result column="deadline" property="deadline"/>
		<result column="status" property="status"/>
		<result column="completed_at" property="completedAt"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
		
		<!-- association,collectionは必要に応じて書き加える -->
	
	</resultMap>
	
		<select id="getsTaskById" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					task_id = #{taskId}
		
		</select>
	
		<select id="getTasksForCalendar" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					user_id = #{userId}
			AND
					status IN (0,2)
		
		</select>
		
		<select id="getIncompleteTasksByUserId" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					user_id = #{userId}
			AND
					status IN (0, 2)
			ORDER BY
			
				<!-- if-elseやswitchみたいなもの。test=の中身が条件式
					 #{}を使うと自動的にシングルクォーテーション付きの文字列として扱われてしまい、カラム名を対象とできないため使えない
					 デフォルトでは何順にするか指定したいのでifではなくchoose-whenを使用している -->
				<choose>
		            <when test="sort == 'deadline'">deadline</when>
		            <when test="sort == 'importance'">importance</when>
		            <when test="sort == 'status'">status</when>
		            <otherwise>deadline</otherwise>
		        </choose>
		        
		        <if test="order == 'asc'">ASC</if>
		        <if test="order == 'desc'">DESC</if>
		        
		        , task_id ASC
		
		</select>
		
		<select id="getCompletedTasksByUserId" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					user_id = #{userId}
			AND
					status IN (1, 3)
			ORDER BY
				<choose>
			        <when test="sort == 'completedAt'">completed_at</when>
			        <when test="sort == 'deadline'">deadline</when>
			        <when test="sort == 'importance'">importance</when>
			        <otherwise>completed_at</otherwise>
			    </choose>
			    
			    <if test="order == 'asc'">ASC</if>
			    <if test="order == 'desc'">DESC</if>
		
		</select>
		
		<insert id="create">
		
			INSERT INTO tasks(
					user_id,
					name,
					content,
					importance,
					deadline
			) VALUES (
					#{userId},
					#{name},
					#{content},
					#{importance},
					#{deadline}
			)
		
		</insert>
		
		<update id="updateStatusToExpired">
		
    		UPDATE
    				tasks
    		SET
    				status = 2
    		WHERE
    				user_id = #{userId}
    		AND
    				status = 0
    		AND
    				deadline &lt; CURRENT_DATE
    				
    	</update>
    	
    	<update id="updateStatusToCompleted">
    	
    		UPDATE
    				tasks
    		SET
    				completed_at = CURRENT_DATE,
    				status = CASE
    			WHEN
    				deadline &lt; CURRENT_DATE THEN 3
    			WHEN
    				deadline &gt;= CURRENT_DATE THEN 1
    		END
    		
    		WHERE
    				task_id = #{taskId}
    		AND
        			user_id = #{userId}
    	
    	</update>
    	
    	<update id="updateStatusToIncompleted">
    	
    		UPDATE
    				tasks
    		SET
    				completed_at = NULL,
    				status = CASE
    			WHEN
    				deadline &lt; CURRENT_DATE THEN 2
    			WHEN
    				deadline &gt;= CURRENT_DATE THEN 0
    		END
    		
    		WHERE
    				task_id = #{taskId}
    		AND
        			user_id = #{userId}
    	
    	</update>

</mapper>