<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">

	<!-- DB上のカラム名とjava側の変数名のすり合わせを行う -->
	<resultMap type="com.example.demo.entity.Task" id="TaskResultMap">
		
		<!-- 主キーのマッピング -->
		<id column="task_id" property="taskId"/>
		
		<!-- 通常カラムのマッピング -->
		<result column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="content" property="content"/>
		<result column="importance" property="importance"/>
		<result column="deadline" property="deadline"/>
		<result column="status" property="status"/>
		<result column="completed_date" property="completedDate"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
		
		<!-- association,collectionは必要に応じて書き加える -->
		<!-- Tankエンティティの中にあるUser userに情報を加える -->
		<association property="user" resultMap="UserResultMap"></association>
	
	</resultMap>
	
	<resultMap type="com.example.demo.entity.User" id="UserResultMap">
		
		<id column="user_id" property="userId"/>
		<result column="user_name" property="name"/>
	
	</resultMap>
	
		<select id="getsTaskById" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					task_id = #{taskId}
		
		</select>
	
		<select id="getTasksForCalendar" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					user_id = #{userId}
			AND
					status IN (#{incomplete},#{expired})
		
		</select>
		
		<select id="getIncompleteTasksByUserId" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					user_id = #{userId}
			AND
					status IN (#{incomplete},#{expired})
			ORDER BY
			
				<!-- if-elseやswitchみたいなもの。test=の中身が条件式
					 #{}を使うと自動的にシングルクォーテーション付きの文字列として扱われてしまい、カラム名を対象とできないため使えない
					 デフォルトでは何順にするか指定したいのでifではなくchoose-whenを使用している -->
				<choose>
		            <when test="sort == 'deadline'">deadline</when>
		            <when test="sort == 'importance'">importance</when>
		            <when test="sort == 'status'">status</when>
		            <otherwise>deadline</otherwise>
		        </choose>
		        
		        <if test="order == 'asc'">ASC</if>
		        <if test="order == 'desc'">DESC</if>
		        
		        , deadline ASC
		
		</select>
		
		<select id="getCompletedTasksByUserId" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					*
			FROM
					tasks
			WHERE
					user_id = #{userId}
			AND
					status IN (#{completed}, #{expiredCompleted})
			ORDER BY
				<choose>
			        <when test="sort == 'completedDate'">completed_date</when>
			        <when test="sort == 'deadline'">deadline</when>
			        <when test="sort == 'importance'">importance</when>
			        <when test="sort == 'status'">status</when>
			        <otherwise>completed_date</otherwise>
			    </choose>
			    
			    <if test="order == 'asc'">ASC</if>
			    <if test="order == 'desc'">DESC</if>
			    
			    ,completed_date DESC
		
		</select>
		
		<select id="searchTasks" resultType="com.example.demo.entity.Task" resultMap="TaskResultMap">
		
			SELECT
					t.task_id,
					t.user_id,
					t.name,
					t.importance,
					t.deadline,
					t.status,
					t.completed_date,
					t.created_at,
					t.updated_at,
					u.name AS user_name
			FROM
					tasks t
			LEFT JOIN
					users u
			ON
					t.user_id = u.user_id
			<where>
				<if test="form.taskId != null">
					t.task_id = #{form.taskId}
				</if>
				<if test="form.userId != null">
					AND t.user_id = #{form.userId}
				</if>
				<if test="form.taskName != null">
					AND t.name LIKE CONCAT('%', #{form.taskName}, '%')
				</if>
				<if test="form.importance != null and form.importance != 4">
					AND t.importance = #{form.importance}
				</if>
				<if test="form.deadline != null">
					AND t.deadline &lt; #{form.deadline}
				</if>
				<if test="form.status != null and form.status != 4">
					AND t.status = #{form.status}
				</if>
				<if test="form.completedDate != null">
					AND t.completed_date &lt; #{form.completedDate}
				</if>
				<if test="form.userName != null">
					AND u.name LIKE CONCAT('%', #{form.userName}, '%')
				</if>
			</where>
			ORDER BY
				<choose>
			        <when test="sort == 'taskId'">task_id</when>
			        <when test="sort == 'userId'">user_id</when>
			        <otherwise>task_id</otherwise>
			    </choose>
			    
			    <if test="order == 'asc'">ASC</if>
			    <if test="order == 'desc'">DESC</if>
					,t.task_id DESC
		
		</select>
		
		<insert id="create">
		
			INSERT INTO tasks(
					user_id,
					name,
					content,
					importance,
					deadline
			) VALUES (
					#{userId},
					#{name},
					#{content},
					#{importance},
					#{deadline}
			)
		
		</insert>
		
		<update id="update">
		
			UPDATE
					tasks
			SET
					name = #{name},
					content = #{content},
					importance = #{importance},
					deadline = #{deadline},
					status = #{status},
					completed_date = #{completedDate}
			WHERE
					task_id = #{taskId}
			AND
					user_id = #{userId}
		
		</update>
		
		<update id="updateStatusToExpired">
		
    		UPDATE
    				tasks
    		SET
    				status = #{expired}
    		WHERE
    				user_id = #{userId}
    		AND
    				status = #{incomplete}
    		AND
    				deadline &lt; CURRENT_DATE
    				
    	</update>
    	
    	<update id="updateStatusToCompleted">
    	
    		UPDATE
    				tasks
    		SET
    				completed_date = CURRENT_DATE,
    				status = CASE
    			WHEN
    				deadline &lt; CURRENT_DATE THEN #{expiredCompleted}
    			WHEN
    				deadline &gt;= CURRENT_DATE THEN #{completed}
    		END
    		
    		WHERE
    				task_id = #{taskId}
    		AND
        			user_id = #{userId}
    	
    	</update>
    	
    	<update id="updateStatusToIncompleted">
    	
    		UPDATE
    				tasks
    		SET
    				completed_date = NULL,
    				status = CASE
    			WHEN
    				deadline &lt; CURRENT_DATE THEN #{expired}
    			WHEN
    				deadline &gt;= CURRENT_DATE THEN #{incomplete}
    		END
    		
    		WHERE
    				task_id = #{taskId}
    		AND
        			user_id = #{userId}
    	
    	</update>
    	
    	<delete id="delete">
    	
    	
    		DELETE FROM
    				tasks
    		WHERE
    				task_id = #{taskId}
    		AND
    				user_id = #{userId}
    		
    	</delete>

</mapper>